@model SudokuMaster.Models.ErrorViewModel
<hgroup>
    <h1>Error.</h1>
    <h2>An error occurred while processing your request.</h2>

</hgroup>
<label>Details:</label>
<p>@Html.Raw(Model.Message)</p>
