<br />
<div id="mySudokuPuzzle" style="left:35px; position: relative">
    <table>
        <tr>
            <td class="blockgroup">
                <table class="block blockright blockbottom">
                    <tr>
                        <td class="cell">
                            <div class="square" id="A1" onclick="handleCellChange(0, 0)">
                                <span data-bind="text: a1"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="B1" onclick="handleCellChange(0, 1)">
                                <span data-bind="text: b1"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="C1" onclick="handleCellChange(0, 2)">
                                <span data-bind="text: c1"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="A2" onclick="handleCellChange(1, 0)">
                                <span data-bind="text: a2"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="B2" onclick="handleCellChange(1, 1)">
                                <span data-bind="text: b2"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="C2" onclick="handleCellChange(1, 2)">
                                <span data-bind="text: c2"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="A3" onclick="handleCellChange(2, 0)">
                                <span data-bind="text: a3"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="B3" onclick="handleCellChange(2, 1)">
                                <span data-bind="text: b3"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="C3" onclick="handleCellChange(2, 2)">
                                <span data-bind="text: c3"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="blockgroup">
                <table class="block blockright blockbottom blockleft">
                    <tr>
                        <td class="cell">
                            <div class="square" id="D1" onclick="handleCellChange(0, 3)">
                                <span data-bind="text: d1"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="E1" onclick="handleCellChange(0, 4)">
                                <span data-bind="text: e1"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="F1" onclick="handleCellChange(0, 5)">
                                <span data-bind="text: f1"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="D2" onclick="handleCellChange(1, 3)">
                                <span data-bind="text: d2"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="E2" onclick="handleCellChange(1, 4)">
                                <span data-bind="text: e2"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="F2" onclick="handleCellChange(1, 5)">
                                <span data-bind="text: f2"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="D3" onclick="handleCellChange(2, 3)">
                                <span data-bind="text: d3"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="E3" onclick="handleCellChange(2,4)">
                                <span data-bind="text: e3"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="F3" onclick="handleCellChange(2, 5)">
                                <span data-bind="text: f3"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="blockgroup">
                <table class="block blockleft blockbottom">
                    <tr>
                        <td class="cell">
                            <div class="square" id="G1" onclick="handleCellChange(0, 6)">
                                <span data-bind="text: g1"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="H1" onclick="handleCellChange(0, 7)">
                                <span data-bind="text: h1"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="I1" onclick="handleCellChange(0, 8)">
                                <span data-bind="text: i1"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="G2" onclick="handleCellChange(1, 6)">
                                <span data-bind="text: g2"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="H2" onclick="handleCellChange(1, 7)">
                                <span data-bind="text: h2"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="I2" onclick="handleCellChange(1, 8)">
                                <span data-bind="text: i2"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="G3" onclick="handleCellChange(2, 6)">
                                <span data-bind="text: g3"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="H3" onclick="handleCellChange(2, 7)">
                                <span data-bind="text: h3"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="I3" onclick="handleCellChange(2, 8)">
                                <span data-bind="text: i3"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="blockgroup">
                <table class="block blockright blocktop blockbottom">
                    <tr>
                        <td class="cell">
                            <div class="square" id="A4" onclick="handleCellChange(3, 0)">
                                <span data-bind="text: a4"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="B4" onclick="handleCellChange(3, 1)">
                                <span data-bind="text: b4"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="C4" onclick="handleCellChange(3, 2)">
                                <span data-bind="text: c4"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="A5" onclick="handleCellChange(4, 0)">
                                <span data-bind="text: a5"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="B5" onclick="handleCellChange(4, 1)">
                                <span data-bind="text: b5"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="C5" onclick="handleCellChange(4, 2)">
                                <span data-bind="text: c5"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="A6" onclick="handleCellChange(5, 0)">
                                <span data-bind="text: a6"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="B6" onclick="handleCellChange(5, 1)">
                                <span data-bind="text: b6"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="C6" onclick="handleCellChange(5, 2)">
                                <span data-bind="text: c6"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="blockgroup">
                <table class="block blocktop blockbottom blockright blockleft">
                    <tr>
                        <td class="cell">
                            <div class="square" id="D4" onclick="handleCellChange(3, 3)">
                                <span data-bind="text: d4"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="E4" onclick="handleCellChange(3, 4)">
                                <span data-bind="text: e4"></span>

                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="F4" onclick="handleCellChange(3, 5)">
                                <span data-bind="text: f4"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="D5" onclick="handleCellChange(4, 3)">
                                <span data-bind="text: d5"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="E5" onclick="handleCellChange(4, 4)">
                                <span data-bind="text: e5"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="F5" onclick="handleCellChange(4, 5)">
                                <span data-bind="text: f5"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="D6" onclick="handleCellChange(5, 3)">
                                <span data-bind="text: d6"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="E6" onclick="handleCellChange(5, 4)">
                                <span data-bind="text: e6"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="F6" onclick="handleCellChange(5, 5)">
                                <span data-bind="text: f6"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="blockgroup">
                <table class="block blocktop blockbottom blockleft">
                    <tr>
                        <td class="cell">
                            <div class="square" id="G4" onclick="handleCellChange(3, 6)">
                                <span data-bind="text: g4"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="H4" onclick="handleCellChange(3, 7)">
                                <span data-bind="text: h4"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="I4" onclick="handleCellChange(3, 8)">
                                <span data-bind="text: i4"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="G5" onclick="handleCellChange(4, 6)">
                                <span data-bind="text: g5"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="H5" onclick="handleCellChange(4,7)">
                                <span data-bind="text: h5"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="I5" onclick="handleCellChange(4, 8)">
                                <span data-bind="text: i5"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="G6" onclick="handleCellChange(5, 6)">
                                <span data-bind="text: g6"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="H6" onclick="handleCellChange(5, 7)">
                                <span data-bind="text: h6"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="I6" onclick="handleCellChange(5, 8)">
                                <span data-bind="text: i6"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="blockgroup">
                <table class="block blocktop blockright">
                    <tr>
                        <td class="cell">
                            <div class="square" id="A7" onclick="handleCellChange(6, 0)">
                                <span data-bind="text: a7"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="B7" onclick="handleCellChange(6, 1)">
                                <span data-bind="text: b7"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="C7" onclick="handleCellChange(6, 2)">
                                <span data-bind="text: c7"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="A8" onclick="handleCellChange(7, 0)">
                                <span data-bind="text: a8"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="B8" onclick="handleCellChange(7,1)">
                                <span data-bind="text: b8"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="C8" onclick="handleCellChange(7, 2)">
                                <span data-bind="text: c8"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="A9" onclick="handleCellChange(8, 0)">
                                <span data-bind="text: a9"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="B9" onclick="handleCellChange(8,1)">
                                <span data-bind="text: b9"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="C9" onclick="handleCellChange(8, 2)">
                                <span data-bind="text: c9"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="blockgroup">
                <table class="block blocktop blockleft blockright">
                    <tr>
                        <td class="cell">
                            <div class="square" id="D7" onclick="handleCellChange(6, 3)">
                                <span data-bind="text: d7"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="E7" onclick="handleCellChange(6, 4)">
                                <span data-bind="text: e7"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="F7" onclick="handleCellChange(6, 5)">
                                <span data-bind="text: f7"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="D8" onclick="handleCellChange(7, 3)">
                                <span data-bind="text: d8"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="E8" onclick="handleCellChange(7, 4)">
                                <span data-bind="text: e8"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="F8" onclick="handleCellChange(7, 5)">
                                <span data-bind="text: f8"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="D9" onclick="handleCellChange(8, 3)">
                                <span data-bind="text: d9"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="E9" onclick="handleCellChange(8, 4)">
                                <span data-bind="text: e9"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="F9" onclick="handleCellChange(8,5)">
                                <span data-bind="text: f9"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="blockgroup">
                <table class="block blockleft blocktop">
                    <tr>
                        <td class="cell">
                            <div class="square" id="G7" onclick="handleCellChange(6, 6)">
                                <span data-bind="text: g7"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="H7" onclick="handleCellChange(6,7)">
                                <span data-bind="text: h7"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="I7" onclick="handleCellChange(6,8)">
                                <span data-bind="text: i7"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="G8" onclick="handleCellChange(7, 6)">
                                <span data-bind="text: g8"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="H8" onclick="handleCellChange(7, 7)">
                                <span data-bind="text: h8"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="I8" onclick="handleCellChange(7, 8)">
                                <span data-bind="text: i8"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell">
                            <div class="square" id="G9" onclick="handleCellChange(8, 6)">
                                <span data-bind="text: g9"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="H9" onclick="handleCellChange(8, 7)">
                                <span data-bind="text: h9"></span>
                            </div>
                        </td>
                        <td class="cell">
                            <div class="square" id="I9" onclick="handleCellChange(8,8)">
                                <span data-bind="text: i9"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>